# 03-11-Exercise

**Description:** List of exercises for Pandas package. Since this package is dedicated to data analyses the questions are aimed at a dataset that was originally published in the data article [Hotel Booking Demand Datasets, Antonio et al., Data in Brief, Volume 22, February 2019](https://www.sciencedirect.com/science/article/pii/S2352340918315191). This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things. All personally identifying information has been removed from the data.

In [1]:
# imports
import pandas as pd

# read dataset
df = pd.read_csv("data\\hotel_booking_data.csv")

___
## Question 1

How many rows are there?

In [2]:
number_of_rows = len(df)
print(f"There are {number_of_rows} rows in this dataset")

There are 119390 rows in this dataset

___
## Question 2
Is there any missing data? If so, which column has the most missing data?

In [4]:
# Count non-NA cells for each row
number_of_not_null_rows = df.count(axis=0)

# Total number of rows
number_of_rows = len(df)

# Missing rows
missing_rows = number_of_rows - number_of_not_null_rows
missing_rows[missing_rows.apply(lambda number: number > 0)]

children         4
country        488
agent        16340
company     112593
dtype: int64

Another form to compute the same result is

In [5]:
# Missing rows
missing_rows = df.isnull().sum()
missing_rows[missing_rows.apply(lambda number: number > 0)]

children         4
country        488
agent        16340
company     112593
dtype: int64

Another form to show the results is

In [6]:
names = missing_rows[missing_rows.apply(lambda number: number > 0)].keys()
values = missing_rows[missing_rows.apply(lambda number: number > 0)].values

for name, value in zip(names,values):
    if value == values.max():
        print(f"There are {value} missing rows in the column {name}. This is the column with most missing data.")
    else:
        print(f"There are {value} missing rows in the column {name}.")

There are 4 missing rows in the column children.
There are 488 missing rows in the column country.
There are 16340 missing rows in the column agent.
There are 112593 missing rows in the column company. This is the column with most missing data.

___
## Question 3
How to drop the "company" column from the dataset?

In [7]:
# Drop column with axis=1
df = df.drop('company',axis=1)

Verify result

In [8]:
# Print the result
message = f"The column company was {'not' if 'company' not in df.columns else None} found in the dataset"
print(message)

The column company was not found in the dataset

___
## Question 4
What are the top 5 most common country codes in the dataset?

In [9]:
# Method 1
df['country'].value_counts()[0:5]

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: country, dtype: int64

In [10]:
# Method 2
df['country'].value_counts().head(5)

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: country, dtype: int64

___
## Question 5

What is the name of the person who paid the highest ADR (average daily rate)? How much was their ADR?

In [11]:
# Method 1
name_of_columns = ["adr", "name"]
max_column = name_of_columns[0]

id_of_max = df[max_column].idxmax()
df.iloc[id_of_max][name_of_columns]

adr            5400.0
name    Daniel Walter
Name: 48515, dtype: object

In [12]:
# Method 2
name_of_columns = ["adr", "name"]
max_column = name_of_columns[0]

df.sort_values(max_column, ascending=False)[name_of_columns].iloc[0]

adr            5400.0
name    Daniel Walter
Name: 48515, dtype: object

___
## Question 6

The adr is the average daily rate for a person's stay at the hotel. What is the mean adr across all the hotel stays in the dataset?

In [29]:
# Method 1
round(df['adr'].sum()/df['adr'].count(),2)

101.83

In [14]:
# Method 2
round(df['adr'].mean(),2)

101.83

___
## Question 7
What is the average (mean) number of nights for a stay across the entire data set? Feel free to round this to 2 decimal points.

In [42]:
# Method 1
total_stay_days = df['stays_in_week_nights'] + df['stays_in_weekend_nights']
round(total_stay_days.mean(), 2)

3.43

In [46]:
# Method 2
total_stay_days = df[['stays_in_week_nights',
                      'stays_in_weekend_nights']].sum().sum()
count_stay_days = df['stays_in_weekend_nights'].count()
round(total_stay_days/count_stay_days, 2)

3.43

___
## Question 8
What is the average total cost for a stay in the dataset? Not *average daily cost*, but *total* stay cost. (You will need to calculate total cost your self by using ADR and week day and weeknight stays). Feel free to round this to 2 decimal points.

In [47]:
# Method 1
total_paid = df['adr'] * (df['stays_in_week_nights'] +
                          df['stays_in_weekend_nights'])
round((total_paid).mean(),2)

357.85

___
## Question 9
What are the names and emails of people who made exactly 5 "Special Requests"?

In [50]:
# Method 1
df.loc[df["total_of_special_requests"] == 5][['name', 'email']]

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

In [48]:
# Method 2
df[df["total_of_special_requests"] == 5][['name', 'email']]

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

___
## Question 10
What percentage of hotel stays were classified as "repeat guests"? (Do not base this off the name of the person, but instead of the is_repeated_guest column)

In [56]:
# Method 1
print(f"{round(df['is_repeated_guest'].mean()* 100,2)}%")

3.19%

In [61]:
# Method 2
total_repeated_guest = df["is_repeated_guest"].sum()
count_repeated_guest = df["is_repeated_guest"].count()
repeated_guest_percentual = total_repeated_guest/count_repeated_guest*100

print(f"{repeated_guest_percentual:.3}%")

3.19%

___
## Question 11
What are the top 5 most common last name in the dataset?

In [173]:
# Method 1
df["name"].str.split(" ").str[-1].value_counts().nlargest(5)

Smith       2503
Johnson     1990
Williams    1618
Jones       1434
Brown       1423
Name: name, dtype: int64

In [175]:
# Explanation
# str method allows to use string methods
split_text_rows = df["name"].str.split(" ")
# value_counts returns the number of times the string appear
count_text_last_names = split_text_rows.str[-1].value_counts()
# head(n) returns the top n rows
top_5_last_names = count_text_last_names.nlargest(5)
print(top_5_last_names)

Smith       2503
Johnson     1990
Williams    1618
Jones       1434
Brown       1423
Name: name, dtype: int64

In [103]:
# Method 2
df["name"].apply(lambda name: name.split()[-1]).value_counts()[:5]

Smith       2503
Johnson     1990
Williams    1618
Jones       1434
Brown       1423
Name: name, dtype: int64

___
## Question 12
What are the names of the people who had booked the most number children and babies for their stay? (Don't worry if they canceled, only consider number of people reported at the time of their reservation)

In [142]:
# Method 1
df[['name', 'children', 'babies']].groupby(
    "name").sum().sum(axis=1).nlargest(3)

name
Jamie Ramirez      10.0
Nicholas Parker    10.0
Marc Robinson       9.0
dtype: float64

In [148]:
# Method 2
total_kids = df['children'] + df['babies']
df.sort_values('total_kids', ascending=False)[
    ['name', 'adults', 'total_kids', 'babies', 'children', "email"]].nlargest(3, columns="total_kids")

,name,adults,total_kids,babies,children,email
328,Jamie Ramirez,2,10.0,0,10.0,Ramirez_Jamie22@aol.com
46619,Nicholas Parker,2,10.0,10,0.0,Parker.Nicholas57@hotmail.com
78656,Marc Robinson,1,9.0,9,0.0,Robinson_Marc@protonmail.com

___
## Question 13
What are the top 3 most common area code in the phone numbers? (Area code is first 3 digits)

In [153]:
# Method 1
df["phone-number"].str.split("-").str[0].value_counts().head(3)

799    168
185    167
541    166
Name: phone-number, dtype: int64

In [155]:
# Method 2
df["phone-number"].apply(lambda num:num[:3]).value_counts().nlargest(3)

799    168
185    167
541    166
Name: phone-number, dtype: int64

___
## Question 14
How many arrivals took place between the 1st and the 15th of the month (inclusive of 1 and 15) ? Bonus: Can you do this in one line of pandas code?

In [179]:
# Method 1
df['arrival_date_day_of_month'].value_counts().sort_index().iloc[0:15].sum()

58152

In [180]:
# Method 2
df['arrival_date_day_of_month'].apply(lambda day: day in range(1, 16)).sum()

58152

___
## Question 15
Create a table for counts for each day of the week that people arrived. (E.g. 5000 arrivals were on a Monday, 3000 were on a Tuesday, etc..)

In [35]:
months_names = {'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 'June': 6,
                'July': 7, 'August': 8, 'September': 9, 'October': 10, 'November': 11, 'December': 12}

month = 'arrival_date_month'
df["month"] = df[month].map(months_names)
df["day"] = df['arrival_date_day_of_month']
df['year'] = df['arrival_date_year']

# to_datetime appears to need the name of the columns to be day, month and year
pd.to_datetime(df[["day", 'month',"year"]]).dt.day_name().value_counts()

Friday       19631
Thursday     19254
Monday       18171
Saturday     18055
Wednesday    16139
Sunday       14141
Tuesday      13999
dtype: int64